[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/zolarwind"]
	path = themes/zolarwind
	url = https://github.com/thomasweitzel/zolarwind.git
