:root {
    --color-teal: #0d7680;
    --color-teal20: #052f33;
    --color-teal30: #08474d;
    --color-teal40: #0a5e66;
    --color-teal50: #0d7680;
    --color-teal60: #0f8e99;
    --color-teal70: #12a5b3;
    --color-teal80: #14bdcc;
    --color-teal90: #17d4e6;
    --color-teal100: #1aecff;
    --color-emerald: #009b77;
    --color-bs-dark: #212529;
    --color-youkre-yellow: #cabdab;
    --color-youkre-cyan: #71a9be;
    --color-bg-gray: #EEEDF1;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
}
body {
    font-family: -apple-system, sans-serif;
    font-size: 18px;
    padding: 8px;
    margin: 0;
    word-wrap: break-word;
    overflow-x: hidden; /* Prevent horizontal scrolling of the whole page */
}
a {
    color: var(--color-teal);
    text-decoration: none;
}
.bg-emerald {
    background-color: var(--color-emerald);
}
.logo {
    margin-inline-end: auto;
    line-height: var(--header-height);
}
.logo a {
    font-size: 24px;
    font-weight: 700;
}
.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
}
html[data-bs-theme="dark"] #moon {
    vertical-align: middle;
    display: none;
}
html:not([data-bs-theme="dark"]) #sun {
    display: none;
}